.toolbar_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 10px;
    background-color: #f0f0f0;
    height: 50px;
}

.toolbar_button_container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    padding: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative;
    width: min-content;
}

.toolbar_button_container:hover{
    background-color: #e0e0e0;
}

.toolbar_button_container:active{
    background-color: #d0d0d0;
}

.toolbar_container_right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toolbar_container_left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}