.dashboard_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    padding: 0;
    margin: 0;
}

.dashboard_table th {
    position: sticky;
    top: 0;
    background-color: #d1d1d1; /* Ensure the header background sticks with the text */
    color: #333;
    font-weight: bold;
    padding: 10px 5px;
    text-align: left;
    border-bottom: 2px solid #000;
    z-index: 10; /* Keep the header above other table elements */
    padding-left: 1rem;
}

.dashboard_table td {
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid #e0e0e0;
    white-space: nowrap;
    vertical-align: middle;
    padding-left: 1rem;
}

.dashboard_table_row:nth-child(even) {
    background-color: #f8f9fa;
}

.dashboard_table_row:hover {
    background-color: #e9ecef;
}

.dashboard_table_content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 83vh;
    overflow-y: auto;
    margin-bottom: 20px; /* Add margin to ensure it doesn't touch the bottom of the viewport */
}
