.custom_dropdown_button{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    padding: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 0px;
    position: relative;
}

.custom_dropdown_button:hover{
    background-color: #e0e0e0;
}

.custom_dropdown_button:active{
    background-color: #d0d0d0;
}