/* Add this to your CSS or inside a <style> tag in your component file */

.custom_dropdown_menu {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.custom_dropdown_menu li:hover {
  background-color: white;
  color: black;
}
