.background_transparent {
    background-color: rgba(0, 0, 0, 0);
}

.container{
    width: min-content;
    text-wrap: nowrap;
    padding-inline: 0;
    margin-inline: 0;
}

.container img{
    width: 50px;
    height: auto;
    padding: 0;
}