.content_defualt {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  padding-top: 5.6rem;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content_custom{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 5.6rem;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
}

.background_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
  text-wrap: nowrap;
}

.subtitle {
  font-size: 1.5rem;
  color: white;
  text-wrap: nowrap;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}