.toolbar {
  min-height: 70px;
  max-height: 100px;
  position: relative;
  padding-top: 1.5rem;
  background-color: #24292f7e;
  transition: background-color 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.toolbar:hover {
  background-color: #24292f;
}
