.background_image_main {
  /* Ensure the background image covers the entire viewport */
  background-image: url("/images/wine_wall_wood_dark.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Set full height and width for the viewport */
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  /* Send the image to the farthest back layer */
  z-index: -1;

  /* Darken the background image slightly */
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.hero_container {
  /* Center the content within the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  text-align: center;
  color: white;
  padding-left: 5rem;
}

.hero_title {
  /* Style the main title */
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
}

.hero_description {
  /* Style the description text */
  font-size: 1rem;
  margin-top: 1rem;
  max-width: 600px;
}

.topic_container {
  /* Center the content within the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  color: white;
}

.topic_title {
  /* Style the main title */
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.topic_description {
  /* Style the description text */
  font-size: 1rem;
  max-width: 600px;
}

.container {
  /* Set the background color for the main content */
  padding: 2rem;
  height: 90vh;
  width: 100%;
  background-color: var(--color-dark);
}

.container_split {
  /* A container which is split horizontally in two equal sizes */
  padding: 2rem;
  height: 90vh;
  width: 100%;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container_split_left {
  /* A container which is split horizontally in two equal sizes */
  padding: 2rem;
  height: 100%;
  width: 50vw;
  background: linear-gradient(to bottom, var(--color-dark), var(--color-gray));
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 5rem;
  min-width: 400px;
}

.container_split_right {
  /* A container which is split horizontally in two equal sizes center everything in the middle */
  padding: 2rem;
  height: 100%;
  width: 50vw;
  background-color: var(--color-dark);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  min-width: 400px;
}

/* Media query for devices with a max width of 480px (mobile phones) */
@media (max-width: 480px) {
  .hero_container {
    padding-left: 1rem;
    align-items: center;
  }

  .hero_title {
    font-size: 3rem;
  }

  .hero_description {
    font-size: 0.75rem;
    max-width: 90%;
  }

  .container_split {
    flex-direction: column;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .container_split_left, .container_split_right {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 600px;
  }
}