.background_image {
  /* Ensure the background image covers the entire viewport */
  background-image: url("/images/wine_wall_wood_dark.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Set full height and width for the viewport */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  /* Send the image to the farthest back layer */
  z-index: -1;
}

.img_iphone {
  align-self: center;
  height: auto;
  width: 20%;
  min-width: 100px;
}

/* Hide the iPhone image if its width is less than 100px */
@media (max-width: 499px) {
  .img_iphone {
    display: none;
  }
}
